<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fniephaus.vmcontrol</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0242FFEF-5970-4B44-8A55-708586F1828E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9C97FA4-50C0-4D34-9C88-37DF39EAA1A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D9C97FA4-50C0-4D34-9C88-37DF39EAA1A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>879A8192-F648-4E26-B4B5-71676C669A5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fabio Niephaus</string>
	<key>description</key>
	<string>Control your Parallels and Virtual Box virtual machines</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VM Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vm</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Listing your virtual machines...</string>
				<key>script</key>
				<string>python vm_list.py "{query}"
</string>
				<key>subtext</key>
				<string>Control your Parallels and Virtual Box virtual machines</string>
				<key>title</key>
				<string>VM Control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D9C97FA4-50C0-4D34-9C88-37DF39EAA1A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python vm_control.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>879A8192-F648-4E26-B4B5-71676C669A5C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0242FFEF-5970-4B44-8A55-708586F1828E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0242FFEF-5970-4B44-8A55-708586F1828E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>879A8192-F648-4E26-B4B5-71676C669A5C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D9C97FA4-50C0-4D34-9C88-37DF39EAA1A6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fniephaus/alfred-vmcontrol</string>
</dict>
</plist>
